<footer id="footer">
    <div class="container">

        <div class="row">

            <!-- col #1 -->
            <div class="logo_footer col-md-8">

                <img alt="" src="assets/images/logo.png" height="90" class="logo" />

                <p class="block">
                <p>
                    <strong><em>Why Choose Us?</em></strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum.
                    <a href="/about">View More <i class="fa fa-arrow-right"></i></a>
                </p>
                <h2>(813) 300-8033</h2>
            </div>
            <!-- /col #1 -->
            <!-- col #2 -->
            <div class="spaced col-md-4">
                <h4>Secure <strong>Payment</strong></h4>
                <p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet.</p>
                <p>
                    <!-- see assets/images/cc/ for more icons -->
                    <img src="assets/images/Visa.png" alt="" />
                    <img src="assets/images/Mastercard.png" alt="" />
                    <img src="assets/images/Maestro.png" alt="" />
                    <img src="assets/images/PayPal.png" alt="" />
                </p>
            </div>
            <!-- /col #2 -->

        </div>

    </div>

    <hr />

    <div class="copyright">
        <div class="container text-center fsize12">
            Epona theme by <a href="http://www.stepofweb.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">stepofweb</a> &bull; All Right Reserved &copy; DigitalPatrick Online Solutions. &nbsp;
            <a href="privacy" class="fsize11">Privacy Policy</a> &bull;
            <a href="terms" class="fsize11">Terms of Service</a> &bull;
            <a href="faq" class="fsize11">FAQ</a>
        </div>
    </div>
</footer>
