<header id="topBar" class="styleBackgroundColor">
    <div class="container">

        <!-- mail , phone -->
        <div class="call-us fsize13 pull-left margin-top10">
            Call Us Today: <strong>813-300-8033 </strong>
            <span class="hide_mobile">
                &bull; <a href="mailto:digitalpatrick@outlook.com">digitalpatrick@outlook.com</a>
            </span>
        </div>

        <div class="pull-right fsize13 hide_mobile">

            <div class="block text-right">
                <!-- social -->
                <a href="https://www.facebook.com/leon.patrick.football" class="social fa fa-facebook" target="_blank"></a>
                <a href="https://twitter.com/DigiPatOnServ" class="social fa fa-twitter" target="_blank"></a>
                <a href="https://plus.google.com/u/0/+leonpatrick/posts" class="social fa fa-google-plus" target="_blank"></a>
                <a href="http://instagram.com/digitalpatrick" class="social fa fa-instagram" target="_blank"></a>
            </div><!-- /social -->

        </div>

    </div><!-- /.container -->
</header>
