<div>
    <ng-include src="'app/layout/mainheader.html'"></ng-include>


    <!-- POPULAR -->
    <section>
        <div class="container">


            <!-- FEATURED PRODUCTS -->
            <h4><strong>Latest</strong> Appartments</h4>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3" ng-repeat="apartment in homePage.latestApartments">
                    <div class="thumbnail">
                        <a class="img-responsive" ng-href="/apartments/{{apartment.id}}">
                            <img class="img-responsive" ng-src="assets/{{apartment.mainImage.imageUrl}}" alt="{{apartment.mainImage.shortDescription}}" />
                        </a>
                        <div class="caption">
                            <h4>Posted: {{apartment.createdAt | date}}</h4>
                            <p>{{apartment.description}}</p>
                        </div>
                        <div class="g-plus" data-action="share"></div>
                    </div>
                    <div class="g-plus" data-action="share"></div>
                </div>
            </div>

            <hr class="half-margins invisible" />

            <!-- FEATURED AGENTS -->
            <h4><strong>Featured</strong> Agents!!</h4>
            <div class="row">
                <div class="col-sm-3 col-xs-6 col-md-3" ng-repeat="agent in homePage.featuredAgents">
                    <div class="thumbnail">
                        <a class="img-responsive" ng-href="/agent/{{agent.userName}}">
                            <img class="img-responsive" ng-src="assets/{{agent.avatarUrl}}" alt="" />
                        </a>
                        <div class="caption">
                            <h4>{{agent.firstName}} {{agent.lastName}}</h4>
                            <p><a ng-href="/agent/{{agent.userName}}" class=" btn btn-default btn-sm" role="button">{{agent.userName}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /FEATURED AGENTS -->

            <hr class="half-margins invisible" />

            <!-- Banner -->
            <a class="block clearfix" href="#purchase" target="_blank" rel="nofollow">
                <img class="img-responsive" src="assets/images/big_banner.png" alt="">
            </a><!-- /Banner -->

            <hr class="half-margins invisible" />

            <div class="row">

                <div class="col-md-9">

                    <!-- More News -->
                    <h4><strong>Apartments</strong> Near You!!</h4>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="apartment in homePage.apartmentsNearYou">
                            <div class="thumbnail">
                                <a ng-href="/apartments/{{apartment.id}}">
                                    <img class="img-responsive" ng-src="assets/{{apartment.mainImage.imageUrl}}" alt="{{apartment.mainImage.shortDescription}}" />
                                </a>
                                <div class="caption">
                                    <h4>Lorem Ipsum Dolor Sit...</h4>
                                    <p>{{apartment.description}}</p>
                                    <p><a ng-href="/apartments/{{apartment.id}} class=" btn btn-default btn-sm" role="button">Read More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /More News -->

                    <hr class="half-margins invisible" />

                    <!-- Blogs -->
                    <h4><strong>Blog</strong> Post</h4>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="blog in homePage.blogs">
                            <div class="thumbnail">
                                <a>
                                    <img class="img-responsive" ng-src="assets/{{blog.avatarUrl}}" alt="" />
                                </a>
                                <div class="caption">
                                    <h4>Created: {{blog.createdAt | date}}</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <p><a href="page-article.html" class="btn btn-default btn-sm" role="button">Read More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /More News -->

                </div>

                <div class="col-md-3">

                    <h4><strong>Apartments</strong> Near?</h4>
                    <form method="get" action="#" class="input-group nopadding">
                        <input type="text" class="form-control" name="s" value="" placeholder="enter ZIP code or City">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </form>


                    <hr class="half-margins invisible" />


                    <!-- twitter plugin -->
                    <div class="tabs nomargin">

                        <!-- tabs -->
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="/#tab_1" data-toggle="tab">
                                    Popular
                                </a>
                            </li>
                            <li>
                                <a href="/#tab_2" data-toggle="tab">
                                    Recent
                                </a>
                            </li>
                        </ul>

                        <!-- tabs content -->
                        <div class="tab-content">

                            <!-- POPULAR -->
                            <div id="tab_1" class="tab-pane active">

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a1.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Maecenas metus nulla</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a2.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a3.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Nam et lacus neque. Ut enim massa, sodales</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->

                            </div>
                            <!-- /POPULAR -->
                            <!-- RECENT -->
                            <div id="tab_2" class="tab-pane">

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a3.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a4.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Maecenas metus nulla</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->

                                <div class="row tab-post">
                                    <!-- post -->
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="page-article.html">
                                            <img src="assets/images/demo/portfolio/thumb/a2.jpg" width="50" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <a href="page-article.html" class="tab-post-link">Quisque ut nulla at nunc</a>
                                        <small>June 29 2014</small>
                                    </div>
                                </div><!-- /post -->
                            </div>
                            <!-- /RECENT -->

                        </div>

                    </div>
                    <!-- twitter plugin -->

                    <hr class="half-margins invisible" />

                    <!-- FACEBOOK -->
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fstepofweb&amp;width=263&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" style="border:none; overflow:hidden; width:263px; height:258px;"></iframe>

                    <!--social buttons-->
                    <a href="#" class="social fa fa-facebook"></a>
                    <a href="#" class="social fa fa-twitter"></a>
                    <a href="#" class="social fa fa-google-plus"></a>
                    <a href="#" class="social fa fa-linkedin"></a>
                    <a href="#" class="social fa fa-pinterest"></a>
                    <a href="#" class="social fa fa-youtube-square"></a>
                    <!--
                    <a href="#" class="social fa fa-vimeo-square"></a>
                    <a href="#" class="social fa fa-flickr"></a>
                    <a href="#" class="social fa fa-skype"></a>
                    <a href="#" class="social fa fa-rss"></a>
                    <a href="#" class="social fa fa-envelope"></a>
                    <a href="#" class="social default fa fa-cog"></a>
                    -->

                    <hr class="half-margins invisible" />

                </div>


            </div>




        </div>
    </section>
    <!-- /POPULAR -->
</div>
